@model Tuple<IEnumerable<Your_Room.Models.Apartmentsad>,IEnumerable<Your_Room.Models.Furniture>,IEnumerable<Your_Room.Models.Address>,IEnumerable<Your_Room.Models.Duration>>

@{
    ViewData["Title"] = "Privacy Policy";
        Layout = "~/Views/Shared/_PagesLayout1.cshtml";
}

<head>
    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600&family=Inter:wght@700;800&display=swap" rel="stylesheet">
    
    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="~/Ads/lib/animate/animate.min.css" rel="stylesheet">
    <link href="~/Ads/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="~/Ads/css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="~/Ads/css/style.css" rel="stylesheet">
</head>
<body style="background-color:white">
    <div class="container-xxl bg-white p-0" id="property-details">
        <!-- Property List Start -->
        <div class="container-xxl py-5">
            <div class="container">
                <div class="row g-0 gx-5 align-items-end">
                    <div class="col-lg-6">
                        <div class="text-start mx-auto mb-5 wow slideInLeft" data-wow-delay="0.1s">
                            <h1 class="mb-3">Property Listing</h1>
                         </div>
                    </div>
                    <br /> 
                    <br /> 
                    <br /> 
                    <div class="col-lg-6 text-start text-lg-end wow slideInRight" data-wow-delay="0.1s">
                        <ul class="nav nav-pills d-inline-flex justify-content-end mb-5">
                            <li class="nav-item me-2">
                                <a class="btn btn-outline-primary active" data-bs-toggle="pill" href="#tab-1">Apartment</a>
                            </li>
                            <li class="nav-item me-2">
                                <a class="btn btn-outline-primary" data-bs-toggle="pill" href="#tab-2">Furniture</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="tab-content">
                    <div id="tab-1" class="tab-pane fade show p-0 active">
                        <div class="row g-4">
                            @foreach (var us in Model.Item1)
                           {
                            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                                <div class="property-item rounded overflow-hidden">
                                    <div class="position-relative overflow-hidden">
                                        <a asp-action="Details" asp-controller="Apartmentsads" asp-route-id="@us.Adid"><img class="img-fluid" src=@Url.Content("~/Image/"+@us.Image1) style="height:300px;width:408px;">  </a>
                                        <div class="bg-primary rounded text-white position-absolute start-0 top-0 m-4 py-1 px-3">For Rent</div>
                                        <div class="bg-white rounded-top text-primary position-absolute start-0 bottom-0 mx-4 pt-1 px-3">Appartment</div>
                                    </div>
                                    <div class="p-4 pb-0">
                                            @if (@us.Price != null)
                                            {
                                                <h5 class="text-primary mb-3">$@us.Price</h5>
                                            }
                                            @if (@us.Adtitel != null)
                                            {
                                                <a class="d-block h5 mb-2"  asp-action="Details" asp-controller="Apartmentsads" asp-route-id="@us.Adid">@us.Adtitel</a>
                                            }
                                            @foreach (var item in Model.Item3)
                                            {
                                                @if (us.Address == item.Addresid)
                                                {
                                                    <p><i class="fa fa-map-marker-alt text-primary me-2"></i>@item.City</p>
                                                }
                                            }
                                    </div>
                                    <div class="d-flex border-top">
                                        <small class="flex-fill text-center border-end py-2"><i class="fa fa-ruler-combined text-primary me-2"></i>@us.Numofroom Room</small>
                                        <small class="flex-fill text-center border-end py-2"><i class="fa fa-bed text-primary me-2"></i>@us.Numofbed Beds </small>
                                            @foreach (var item in Model.Item4)
                                            {
                                                @if (us.Duration == item.Id)
                                                {
                                                    <small class="flex-fill text-center py-2">@*<i class="fa fa-bath text-primary me-2"></i>*@@item.Rentalduration</small>
                                                }
                                            }
                                    </div>
                                </div>
                            </div>
                        }
                        </div>
                    </div>
                    <div id="tab-2" class="tab-pane fade show p-0">
                        <div class="row g-4">
                            @foreach (var item in Model.Item2)
                           {
                               
                           
                            <div class="col-lg-4 col-md-6">
                                <div class="property-item rounded overflow-hidden">
                                    <div class="position-relative overflow-hidden">
                                        <a asp-action="Details" asp-controller="Furnitures" asp-route-id="@item.Fid"><img class="img-fluid" src=@Url.Content("~/Image/"+@item.Image1) style="height:300px;width:408px;">  </a>
                                        <div class="bg-primary rounded text-white position-absolute start-0 top-0 m-4 py-1 px-3">For Rent</div>
                                        <div class="bg-white rounded-top text-primary position-absolute start-0 bottom-0 mx-4 pt-1 px-3">Furniture</div>
                                    </div>
                                    <div class="p-4 pb-0">
                                        @if (@item.Price != null)
                                            {
                                                <h5 class="text-primary mb-3">$@item.Price</h5>
                                            }
                                            @if (@item.Ftitel != null)
                                            {
                                                <a class="d-block h5 mb-2"  asp-action="Details" asp-controller="Furnitures" asp-route-id="@item.Fid">@item.Ftitel</a>
                                            }
                                            @foreach (var item1 in Model.Item3)
                                            {
                                                @if (item.Address == item1.Addresid)
                                                {
                                                    <p><i class="fa fa-map-marker-alt text-primary me-2"></i>@item1.City</p>
                                                }
                                            }
                                    </div>
@*                                    <div class="d-flex border-top">
                                        <small class="flex-fill text-center border-end py-2"><i class="fa fa-ruler-combined text-primary me-2"></i>@item.Numofroom</small>
                                        <small class="flex-fill text-center border-end py-2"><i class="fa fa-bed text-primary me-2"></i>@item.Numofbed Beds </small>
                                            @foreach (var item in Model.Item4)
                                            {
                                                @if (us.Duration == item.Id)
                                                {
                                                    <small class="flex-fill text-center py-2"><i class="fa fa-bath text-primary me-2"></i>@item.Rentalduration</small>
                                                }
                                            }
                                    </div>*@
                                </div>
                            </div>
                            }
                          
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Property List End -->
        </div>
            <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/Ads/lib/wow/wow.min.js"></script>
    <script src="~/Ads/lib/easing/easing.min.js"></script>
    <script src="~/Ads/lib/waypoints/waypoints.min.js"></script>
    <script src="~/Ads/lib/owlcarousel/owl.carousel.min.js"></script>

    <!-- Template Javascript -->
    <script src="~/Ads/js/main.js"></script>

    </body>


