@model Your_Room.Models.Apartmentsad

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Shared.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Apartmentsad</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Adtitel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Adtitel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Addate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Addate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descriptions)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descriptions)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Numofperson)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Numofperson)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Numofroom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Numofroom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Numofbed)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Numofbed)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Street)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Street)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BuildingNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BuildingNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Electricitybillprice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Electricitybillprice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Waterbillprice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Waterbillprice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Image1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Image1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Image2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Image2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Image3)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Image3)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Image4)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Image4)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Image5)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Image5)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Image6)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Image6)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Image7)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Image7)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Image8)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Image8)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AddressNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AddressNavigation.Addresid)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DurationNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DurationNavigation.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserinfoNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserinfoNavigation.Userid)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Adid">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
