@model Your_Room.Models.Furniture

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_PagesLayout1.cshtml";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Furniture</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ftitel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ftitel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fdate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fdate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descriptions)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descriptions)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Street)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Street)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BuildingNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BuildingNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Image1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Image1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Image2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Image2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Image3)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Image3)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Image4)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Image4)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Image5)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Image5)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Image6)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Image6)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Image7)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Image7)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Image8)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Image8)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AddressNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AddressNavigation.Addresid)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserinfoNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserinfoNavigation.Userid)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Fid" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
