@model Your_Room.Models.Furniture

@{
    ViewData["Title"] = "Details";
      Layout = "~/Views/Shared/_PagesLayout1.cshtml";
        var Id = ViewBag.Customer_Id;
    var Name = ViewBag.Customer_Name;
    var email = ViewBag.Customer_Email;
    var Img = ViewBag.Customer_Image;

}
    <div class="site-section" id="property-details">
      <div class="container">
        <div class="row">
          <div class="col-lg-7">
            <div class="owl-carousel slide-one-item with-dots">
 @*style="height:300px;width:408px;"*@
                    @if (Model.Image1 != null)
                    {
                        <div><img src=@Url.Content("~/Image/"+@Model.Image1) alt="Image"style="width:100%; height: 48em;" class="img-fluid"></div>
                    }
                    @if (Model.Image2 != null)
                    {
                        <div><img src=@Url.Content("~/Image/"+@Model.Image2) alt="Image" style="width:100%; height: 48em;" class="img-fluid"></div>
                    }
                     @if (Model.Image3 != null)
                    {
                        <div><img src=@Url.Content("~/Image/"+@Model.Image3) alt="Image" style="width:100%; height: 48em;" class="img-fluid"></div>
                    }
                    @if (Model.Image4 != null)
                    {
                        <div><img src=@Url.Content("~/Image/"+@Model.Image4) alt="Image" style="width:100%; height: 48em;" class="img-fluid"></div>
                    }
                    @if (Model.Image5 != null)
                    {
                        <div><img src=@Url.Content("~/Image/"+@Model.Image5) alt="Image" style="width:100%; height: 48em;" class="img-fluid"></div>
                    }
                    @if (Model.Image6 != null)
                    {
                        <div><img src=@Url.Content("~/Image/"+@Model.Image6) alt="Image" style="width:100%; height: 48em;" class="img-fluid"></div>
                    }
                    @if (Model.Image7 != null)
                    {
                        <div><img src=@Url.Content("~/Image/"+@Model.Image7) alt="Image" style="width:100%; height: 48em;" class="img-fluid"></div>
                    }
                    @if (Model.Image8 != null)
                    {
                        <div><img src=@Url.Content("~/Image/"+@Model.Image8) alt="Image" style="width:100%; height: 48em;" class="img-fluid"></div>
                    }
            </div>
          </div>
          <div class="col-lg-5 pl-lg-5 ml-auto">
            <div class="mb-5">
              <div class="mt-5">
                         @if (Model.UserinfoNavigation.UserImage != null)
                        {
                    <img src=@Url.Content("~/Image/"+@Model.UserinfoNavigation.UserImage) style="width: 100px; height: 100px; " alt="Image" class="border rounded-circle p-2 mx-auto mb-3">
                        }
                <h4 class="text-black">Name: @Model.UserinfoNavigation.FullName </h4>
                <p class="text-muted mb-4">@Model.UserinfoNavigation.Usertype / Phone: <b>@Model.UserinfoNavigation.Phonenumber</b></p>
              </div>
            </div>
            <hr />
            <div class="mb-5">
              <h3 class="text-black mb-4">@Model.Ftitel</h3>
              <p>Ad Date: @Model.Fdate </p>
              <p><b>Price: $@Model.Price</b></p>
              <p><b>City: </b>@Model.AddressNavigation.City.</p>
              <p><b>Street:</b> @Model.Street.</p>
              <p><b>Descriptions:</b> @Model.Descriptions</p>
              <p><b>Building Number: </b>@Model.BuildingNumber.</p>


              @*<p>@Model.UserinfoNavigation.FullName Name of Lessor.</p>*@
              @*<p>@Model.UserinfoNavigation.Phonenumber Phone number of Lessor.</p>*@

            </div>
           @if (Id==Model.UserinfoNavigation.Userid)
           {
            <a asp-action="Edit" asp-controller="Furnitures" asp-route-id="@Model.Fid" class="btn btn-primary mr-2 mb-2">Edit</a>
            <a asp-action="DeleteConfirmed" asp-controller="Furnitures" asp-route-id="@Model.Fid" class="btn btn-danger mr-2 mb-2">Delete</a> 
           }

          </div>
        </div>
      </div>
    </div>
